body {
    margin: 4vw;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='32' height='32' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M37.657 10.343l-4.243 4.243m-2.828 2.828l-4.243 4.243m11.314 0l-4.243-4.243m-2.828-2.828l-4.243-4.243m-20.686 0l-4.243 4.243m-2.828 2.828l-4.243 4.243m11.314 0l-4.243-4.243m-2.828-2.828l-4.243-4.243'  stroke-linecap='square' stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/><path d='M16-8v6m0 4v6m8-8h-6m-4 0H8m8 24v6m0 4v6m8-8h-6m-4 0H8'  stroke-linecap='square' stroke-width='1' stroke='hsla(339.6,82.2%,51.6%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");    
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(225, 82, 131, 1) ;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    padding: 10px 0;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);

}

.icon {
    width: 10vw;
    height: 10vw;
} 

.ingredientCategory, .instructionCategory {
    list-style: none;
    font-weight: 700;
    margin: 10px 0;
    font-size: 1.25rem;
    text-decoration: underline;
}

h2, h3, ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    padding: 0;
    color: rgba(225, 82, 131, 1);
    
}

ul {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    text-align: left;
    
}

.ingredient-section {
    width: 22vw;
    
}

.ingredient-quantity, .instruction {
    margin-bottom: 3px;
    list-style-type: square;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
    margin: 15px 0;
}
h3 {
    margin: 10px;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 3vw;
}

button {
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    padding: 0;
    margin: 0 60px;
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;

}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

#ingredientsContainer, #instructionsContainer {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3vw 0;
    display: flex;
    margin: 3vw;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);

}

.instruction-title {

    margin-top: 25px;
}

#InstructionsList {
    display: grid;
    grid-auto-flow: row;
    width: 100%;
    justify-content: flex-start;
}

.Instruction-section {
    width: 90%;
    margin-left: 3vw;
}

.hidden {
    background-color: rgba(255, 0, 0, 0);
    height: 15px;
}


/* responsive layout */


/* Mobile phones (portrait and landscape) */
@media (max-width: 599px) {
    
    h1 {
        font-size: 2rem;
        border-radius: 20px;
    }
    
    .icon {
        width: 14vw;
        height: 14vw;
    } 
    
    .ingredientCategory, .instructionCategory {
        font-size: 1rem;
    }
    
    ul {
        display: grid;
        grid-auto-flow: row;
        justify-content: space-around;        
    }
    
    .ingredient-section {
        width: 60vw;
        
    }
    
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        margin: 10px;
        font-size: 1.5rem;
    }
    
    .buttons {
        margin: 20vw 3vw;
    }
    
    button { 
        margin: 5vw;
        width: 18vw;
        height: 18vw;    
    }
    
    #InstructionsList {
        width: 95%;
    }
    
    .Instruction-section {
        margin-left: 7vw;
    }

    .ingredient-quantity, .instruction {
        margin-bottom: 10px;
    }
    
    
}

/* Tablets (portrait and landscape) */
@media (min-width: 600px) and (max-width: 767px) {
   
    h1 {
        font-size: 2.5rem;
        border-radius: 22px;
    }
    
    
    .ingredientCategory, .instructionCategory {
        font-size: 1.25rem;
    }
    
    ul {
        display: grid;
        grid-auto-flow: row;
        justify-content: space-around;        
    }
    
    .ingredient-section {
        width: 60vw;
        
    }
    
    h2 {
        font-size: 2rem;
    }
    h3 {
        margin: 7px;
        font-size: 1.6rem;
    }
    
    .buttons {
        margin: 8vw 3vw;
    }
    
    button { 
        margin: 5vw;
        width: 18vw;
        height: 18vw;    
    }
    
    #InstructionsList {
        width: 95%;
    }
    
    .Instruction-section {
        margin-left: 7vw;
    }

    .ingredient-quantity, .instruction {
        margin-bottom: 10px;
    }
    
}

